###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space

[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# IDE1006: 命名样式
dotnet_diagnostic.IDE1006.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1802: static readonly to constant
dotnet_diagnostic.CA1802.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0062: 使本地函数成为静态函数
dotnet_diagnostic.IDE0062.severity = none
