<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net45" />
  <package id="Autoupdater.NET.Official" version="1.5.8" targetFramework="net45" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.13.8" targetFramework="net45" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net45" />
  <package id="KeraLua" version="1.0.26" targetFramework="net45" />
  <package id="Moq" version="4.14.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="NLua" version="1.4.27" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net45" />
</packages>