name: release

on:
  workflow_dispatch:
  push:
    # Pattern matched against refs/tags
    tags:        
      - '**'  # Push events to every tag including hierarchical tags like v1.0/beta

jobs:
  build:
    permissions:
      id-token: write
      contents: write
      attestations: write

    runs-on: windows-2025

    env:
      projName: V2RayGCon
      projCfg: Release
      net45SdkUrl: 'https://www.nuget.org/api/v2/package/Microsoft.NETFramework.ReferenceAssemblies.net45/1.0.3'
      sdkSystemPath: 'C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework'
      projLuna: '3rd/Luna'
      pkgLunaPlugin: 'Luna-plugin.zip'
      publishDir: './publish_assets'
      manualUrl: "https://vrnobody.github.io/V2RayGCon/"
      releaseNoteUrl: "https://vrnobody.github.io/V2RayGCon/04-dev/01-release-log/"
      obsoleteFeaturesUrl: "https://vrnobody.github.io/V2RayGCon/04-dev/obsolete-features/"
      boxAppend: box
      webuiPkgName: 'webui.zip'
      webuiVer: '1.0.2.1'
      webuiUrl: 'https://github.com/vrnobody/WebUI/releases/download'
      v2rayCorePkgName: 'Xray-win7-32.zip'
      v2rayCoreVer: 'v25.12.8'
      # https://github.com/XTLS/Xray-core/releases/download/v1.4.0/Xray-windows-64.zip
      v2rayCoreUrl: 'https://github.com/XTLS/Xray-core/releases/download'
      tun2socksZipUrl: 'https://github.com/xjasonlyu/tun2socks/releases/download/v2.5.2/tun2socks-windows-amd64.zip'
      actionRunsUrl: 'https://github.com/vrnobody/V2RayGCon/actions/runs/'

    steps:
      - name: Install .net framework 4.5 SDK
        shell: pwsh
        run: |
          echo "download ${env:net45SdkUrl}"
          Invoke-WebRequest -Uri "${env:net45SdkUrl}" -OutFile "${env:temp}\net45sdk.zip"
          echo "unzip net45sdk.zip"
          Expand-Archive -Force -LiteralPath "${env:temp}\net45sdk.zip" -DestinationPath "${env:temp}\net45sdk"
          echo "delete ${env:sdkSystemPath}\v4.5"
          [IO.Directory]::Delete("${env:sdkSystemPath}\v4.5", $True)
          echo "move SDK to ${env:sdkSystemPath}\v4.5"
          Move-Item -Force -LiteralPath "${env:temp}\net45sdk\build\.NETFramework\v4.5" -Destination "${env:sdkSystemPath}"

      - name: Setup .net framework build enviroment
        uses: vrnobody/Setup-DotNetFrameworkEnv@v1.20

      - name: Checkout master
        uses: actions/checkout@v4

      - name: Restore NuGet packages
        run: nuget restore ${env:projName}.sln

      - name: Build solution
        run: msbuild ${env:projName}.sln -p:Configuration=${env:projCfg}

      - name: Run unit tests
        run: |
          function Invoke-VSTest {
            & "vstest.console.exe" $args
            if(-not $?){ throw "fail!" }
          }
          Invoke-VSTest "V2RayGConTests\bin\${{ env.projCfg }}\V2RayGCon.Test.dll"
          Invoke-VSTest "VgcApisTests\bin\${{ env.projCfg }}\VgcApisTests.dll"
          Invoke-VSTest "Plugins\ProxySetterTests\bin\${{ env.projCfg }}\ProxySetterTests.dll"
          Invoke-VSTest "Plugins\NeoLunaTests\bin\${{ env.projCfg }}\NeoLunaTests.dll"

      - name: Create assets directory
        shell: pwsh
        run: mkdir "${env:publishDir}"

      - name: Create Luna-plugin.zip
        shell: pwsh
        run: |
          $outdir = "${env:projLuna}/bin/${env:projCfg}"
          Compress-Archive -Path "${outdir}/*" "${env:publishDir}/${env:pkgLunaPlugin}"

      - name: Create V2RayGCon.zip
        shell: pwsh
        run: |
          $outdir = "${env:projName}/bin/${env:projCfg}"
          Invoke-WebRequest -Uri "${env:webuiUrl}/${env:webuiVer}/${env:webuiPkgName}" -OutFile "${env:webuiPkgName}"
          Expand-Archive "${env:webuiPkgName}" -DestinationPath "${outdir}/3rd/neolua/webui"
          Compress-Archive -Path "${outdir}/*" "${env:publishDir}/${env:projName}.zip"

      - name: Create V2RayGCon-box.zip
        shell: pwsh
        run: |
          $outdir = "${env:projName}/bin/${env:projCfg}"
          New-Item -Name "download" -ItemType "directory"
          Invoke-WebRequest -Uri "${env:v2rayCoreUrl}/${env:v2rayCoreVer}/${env:v2rayCorePkgName}" -OutFile "download/${env:v2rayCorePkgName}"
          Expand-Archive "download/${env:v2rayCorePkgName}" -DestinationPath "${outdir}/3rd/core"
          Invoke-WebRequest -Uri "${env:tun2socksZipUrl}" -OutFile "download/tun2socks.zip"
          Expand-Archive "download/tun2socks.zip" -DestinationPath "download/"
          Copy-Item "download/tun2socks-windows-amd64.exe" -Destination "${outdir}/3rd/tun2socks/tun2socks.exe"
          Copy-Item "${env:projName}/Resources/Pkg/wintun.dll" -Destination "${outdir}/3rd/tun2socks/wintun.dll"
          Compress-Archive -Path "${outdir}/*" "${env:publishDir}/${env:projName}-${env:boxAppend}.zip"

      - name: Calculate hashes
        shell: pwsh
        run: |
          function SetEnv($Key, $Value){
            echo "${Key}=${Value}" | Out-File -FilePath ${env:GITHUB_ENV} -Encoding utf8 -Append
          }
          function SetSummary($Content){
            echo "${Content}" | Out-File -FilePath ${env:GITHUB_STEP_SUMMARY} -Encoding utf8 -Append
          }
          function HashFile($Name, $Key) {
            SetSummary "### ${Name}"
            $algos = @('Md5','Sha256')
            foreach ($algo in $algos) {
              $infos = Get-FileHash "${env:publishDir}/${Name}" -Algorithm "${algo}"
              $hash = ${infos}.Hash
              SetEnv "hash${Key}${algo}" "${hash}"
              SetSummary "${algo}: ${hash}"
            }
          }
          HashFile "${env:projName}.zip" "Vgc"
          HashFile "${env:projName}-${env:boxAppend}.zip" "VgcBox"
          HashFile "${env:pkgLunaPlugin}" "Luna"

      - name: Attest
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "${{ env.publishDir }}/*.zip"

      - name: Publish Release
        uses: ncipollo/release-action@v1.14.0
        with:
          name: "v${{ github.ref_name }}"
          body: |
            [\[安装方法\]](${{ env.manualUrl }}) [\[全部发布记录\]](${{ env.releaseNoteUrl }}) [\[GitHub action\]](${{ env.actionRunsUrl }}${{ github.run_id }}) [\[将删除的功能\]](${{ env.obsoleteFeaturesUrl }})

            #### 变化：
              * 变化1

            #### MD5:
            ${{ env.projName }}.zip (${{ env.hashVgcMd5 }})

            #### SHA256:
            ${{ env.projName }}.zip (${{ env.hashVgcSha256 }})
            ${{ env.projName }}-${{ env.boxAppend }}.zip (${{ env.hashVgcBoxSha256 }})
            ${{ env.pkgLunaPlugin }} (${{ env.hashLunaSha256 }})

            #### 备注:
            WebUI v${{ env.webuiVer }}
            ${{ env.projName }}-${{ env.boxAppend }}.zip 打包了 ${{ env.v2rayCorePkgName }} ${{ env.v2rayCoreVer }}
          draft: true
          prerelease: false
          artifacts: "${{ env.publishDir }}/*.zip"
